<div class="uk-card uk-card-default uk-card-body uk-width-large uk-position-center">
  <form [formGroup]="loginForm">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Zaloguj się</legend>

      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" name="username" formControlName="username" required>
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1 lun-login-pass">
          <span class="uk-form-icon" uk-icon="icon: lock" *ngIf="hidePass" (click)="hidePass=! hidePass"></span>
          <span class="uk-form-icon" uk-icon="icon: unlock" *ngIf="!hidePass" (click)="hidePass=! hidePass"></span>
          <input class="uk-input" [type]="hidePass ? 'password' : 'text'" name="password" formControlName="password"
                 required>
        </div>
      </div>

      <div>
        <button class="uk-button uk-button-primary" [routerLink]="[ '/register']">Zarejestruj</button>
        <button class="uk-button uk-button-default" (click)="onLoginSubmit()">Zaloguj</button>
      </div>

    </fieldset>
  </form>
</div>
