<div class="uk-card uk-card-default uk-card-body uk-width-large uk-position-center">
  <form [formGroup]="registerFormGroup" class="uk-grid-small" uk-grid>
    <fieldset class="uk-fieldset uk-width-1-1">

      <legend class="uk-legend">Dane konta Admina dla firmy</legend>

      <lun-input name="firstName" type="text" placeholder="Imię" min="3" required="true"></lun-input>
      <lun-input name="lastName" type="text" placeholder="Nazwisko" min="3" required="true"></lun-input>
      <lun-email name="email" placeholder="Login (e-mail)" required="true"></lun-email>

      <legend class="uk-legend">Dane firmy</legend>

      <div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="NIP" name="ssn" formControlName="ssn" required
                 [ngClass]="{'uk-form-danger': registerFormGroup.controls.ssn.invalid && registerFormGroup.controls.ssn.touched}">
          <div *ngIf="registerFormGroup.controls.ssn.touched && registerFormGroup.controls.ssn.hasError('invalidSSN')">Zły
            nip
          </div>
        </div>
      </div>

      <lun-input name="companyName" type="text" placeholder="Nazwa firmy" min="3" required="true"></lun-input>

      <div class="uk-align-right">
        <button class="uk-button uk-button-default pull-left" (click)="goToLogin()">Wróć</button>
        <button class="uk-button uk-button-primary" [disabled]="registerFormGroup.invalid"
                (click)="onRegisterSubmit()">Zarejestruj
        </button>
      </div>

    </fieldset>
  </form>
</div>
