<div [ngClass]="defaultComponentWrapperClasses">
  <input [ngClass]="{'uk-form-danger': componentFormControl.invalid && componentFormControl.touched }"
         [attr.class]="defaultComponentClasses.join(' ')" [type]="type" [placeholder]="placeholder" [name]="name"
         [formControl]="componentFormControl">

  <div>
    <small [hidden]="!componentFormControl.hasError('minlength') || !componentFormControl.touched" class="text-danger">
      Minimum of {{minLength}} znaki
    </small>
  </div>
  <div>
    <small [hidden]="!componentFormControl.hasError('required') || !componentFormControl.touched" class="text-danger">
      To pole jest wymagane
    </small>
  </div>
</div>
