.main-view {
  .main-sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3f51b5;
    overflow-x: hidden;
    .mat-list-item {
      color: white;
      &:hover,
      &.selected {
        background: rgba(255, 255, 255, .25);
      }
    }
  }
  .main-content {
    padding: 10px;
    height: 100vh;
  }
}

#lun-sidenav {
  .logout-action-list-item {
    position: absolute;
    bottom: 10px;
  }
}

.app-error-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: 320px;

  div.error-message-box {
    position: absolute;
    bottom: 355px;
    left: 15px;
    border: 3px solid #c38f86;
    border-radius: .4em;
    max-width: 320px;
    padding: 5px;
    word-wrap: break-word;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 11px solid transparent;
      border-top-color: #c38f86;
      border-bottom: 0;
      margin-left: -11px;
      margin-bottom: -11px;
    }
  }

  img {
    max-height: 320px;
    opacity: .5;
  }
}
