<!--<mat-sidenav-container class="main-view">-->
<!--<mat-sidenav mode="side" opened="true" class="main-sidebar" *ngIf="userLoggedIn">-->
<!--<mat-nav-list dense>-->
<!--<mat-list-item *ngFor="let sidebarItem of sidebarItemList" [routerLink]="sidebarItem.state" [ngClass]="{'selected': true}">-->
<!--<mat-icon mat-list-icon>{{sidebarItem.icon}}</mat-icon>-->
<!--<h4 mat-line>{{sidebarItem.name}}</h4>-->
<!--</mat-list-item>-->
<!--</mat-nav-list>-->
<!--</mat-sidenav>-->
<!--<mat-sidenav-content class="main-content">-->
<!--<router-outlet></router-outlet>-->

<!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


<div class="uk-offcanvas-content">
  <div uk-sticky="top: 0" class="uk-section-primary uk-light" *ngIf="userLoggedIn">
    <!-- This is a button toggling the off-canvas -->
    <a href="#" uk-toggle="target: #lun-sidenav" uk-icon="menu" class="uk-padding-small"></a>
  </div>

  <div style="min-height: calc(100vh - 50px);max-width: 1100px;margin: 0 auto;">
    <!-- The whole page content goes here -->
    <router-outlet></router-outlet>

    <div class="app-error-wrapper" *ngIf="errorCaptured" [@enterAnimation]>
      <div class="error-message-box">
        <div>Zepsuło się:</div>
        <div>{{errorCaptured.message}}</div>
      </div>
      <img src="assets/sad_pepe.png"
           style=""
           alt="Sadpepe.png" (click)="hideErrorMessage()">
    </div>
  </div>


  <div id="lun-sidenav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>


      <ul class="uk-nav uk-nav-default">

        <li *ngFor="let sidebarItem of sidebarItemList">
          <a [routerLink]="sidebarItem.state">
            <span class="uk-margin-small-right" [attr.uk-icon]="'icon:' + sidebarItem.icon" ></span>
            {{ sidebarItem.name }}
          </a>
        </li>
        <li class="logout-action-list-item">
          <a (click)="logout()">
            <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>
            Wyloguj
          </a>
        </li>

      </ul>
    </div>
  </div>

</div>
