<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-2@m">
    <h2 class="uk-heading-bullet">Dane osobowe</h2>
    <div class="uk-card uk-card-default uk-card-body">
      <form [formGroup]="userDataForm">
        <lun-input name="firstName" type="text" placeholder="Imię" min="3"></lun-input>
        <lun-input name="lastName" type="text" placeholder="Nazwisko" min="3"></lun-input>
        <lun-email name="email" placeholder="Login (e-mail)"></lun-email>
      </form>
    </div>
  </div>
  <div class="uk-width-1-2@m">
    <h2 class="uk-heading-bullet">Hasło</h2>
    <div class="uk-card uk-card-default uk-card-body">
      <form [formGroup]="passwordForm">
        <lun-input name="password" type="password" placeholder="Hasło" min="3" required="true"></lun-input>
        <lun-input name="repeatedPassword" type="password" placeholder="Powtórz hasło" min="3" required="true"></lun-input>
      </form>
    </div>
  </div>
  <div class="uk-width-1-1@m">
    <h2 class="uk-heading-bullet">Zaproś pracowników do aplikacji</h2>
    <div class="uk-card uk-card-default uk-card-body">
      <table class="uk-table uk-table-small uk-table-divider">
        <thead>
        <tr>
          <th>Imię i nazwisko</th>
          <th>Adres e-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Krzysztof Duszix</td>
          <td>duszix@duszix.com</td>
        </tr>
        <tr>
          <td>Patryk Samul</td>
          <td>samul@samul.com</td>
        </tr>
        <tr>
          <td>Java Script</td>
          <td>java@script.com</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
