<div [ngClass]="defaultComponentWrapperClasses">
  <input [ngClass]="{'uk-form-danger': componentFormControl.invalid && componentFormControl.touched }"
         [attr.class]="defaultComponentClasses.join(' ')" type="text" [placeholder]="placeholder" [name]="name"
         [formControl]="componentFormControl" email>

  <div *ngIf="formControlContainer.form.controls[name].invalid && formControlContainer.form.controls[name].touched">
    <small>
      {{getEmailErrorMessage()}}
    </small>
  </div>
</div>
